# Ignore node_modules folder
node_modules/

# Ignore Node.js installer
*.msi

# Ignore all CSV files
*.csv

# Python dependencies (just in case)
__pycache__/
*.pyc

# OS-specific files
.DS_Store
Thumbs.db

# Optional: ignore environment/config files
.env

*.log